@{
    ViewData["Title"] = "Home Page";
}
@* @if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
} *@
 <div class="header-curved">
            <div class="header-curved-image">
                <div class="header-curved-image-inner" style="visibility: visible;">
                    <img src="/images/slider.jpg">
                </div>
                <div class="header-curved-caption">
                    <div class="container text-center">
                        <div style="max-width: 800px;" class="mx-auto">
                            <h1 class="header-curved-title display-5 text-white">
                                Travel differently, <br>
                                connect globally
                            </h1>
                            <p class="header-curved-text">
                                <span class="hidden-xxs">
                                    The largest and safest community for cultural exchange, working holidays,
                                    volunteering and house sitting in 170 countries.
                                </span>
                                <span class="visible-xxs-inline">
                                    Cultural exchange, working holidays and volunteering
                                </span>
                            </p>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-lg btn-primary d-none d-lg-block" data-bs-toggle="modal" data-bs-target="#loginModal">
                                    Login Now
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="container col-xxl-10 px-4">
                <div class="section-title">
                    <h1>Frequently Asked Questions</h1>
                </div>
                <div class="section-container">
                    <div class="accordion" id="faq-accordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq_1" aria-expanded="true" aria-controls="faq_1">
                                    What is Lorem Ipsum?
                                </button>
                            </h2>
                            <div id="faq_1" class="accordion-collapse collapse show" data-bs-parent="#faq-accordion">
                                <div class="accordion-body">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                                    the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                                    with desktop publishing software like Aldus PageMaker including versions of Lorem
                                    Ipsum.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq_2" aria-expanded="false" aria-controls="faq_2">
                                    Where does it come from?
                                </button>
                            </h2>
                            <div id="faq_2" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                <div class="accordion-body">
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                    piece of classical Latin literature from 45 BC, making it over 2000 years old.
                                    Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked
                                    up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
                                    going through the cites of the word in classical literature, discovered the
                                    undoubtable source.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq_3" aria-expanded="false" aria-controls="faq_3">
                                    Why do we use it?
                                </button>
                            </h2>
                            <div id="faq_3" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                <div class="accordion-body">
                                    It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout. The point of using Lorem Ipsum is that
                                    it has a more-or-less normal distribution of letters, as opposed to using 'Content
                                    here, content here', making it look like readable English.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq_4" aria-expanded="false" aria-controls="faq_4">
                                    Why do we use it?
                                </button>
                            </h2>
                            <div id="faq_4" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                <div class="accordion-body">
                                    It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout. The point of using Lorem Ipsum is that
                                    it has a more-or-less normal distribution of letters, as opposed to using 'Content
                                    here, content here', making it look like readable English.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq_5" aria-expanded="false" aria-controls="faq_5">
                                    Why do we use it?
                                </button>
                            </h2>
                            <div id="faq_5" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                <div class="accordion-body">
                                    It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout. The point of using Lorem Ipsum is that
                                    it has a more-or-less normal distribution of letters, as opposed to using 'Content
                                    here, content here', making it look like readable English.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq_6" aria-expanded="false" aria-controls="faq_6">
                                    Why do we use it?
                                </button>
                            </h2>
                            <div id="faq_6" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                                <div class="accordion-body">
                                    It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout. The point of using Lorem Ipsum is that
                                    it has a more-or-less normal distribution of letters, as opposed to using 'Content
                                    here, content here', making it look like readable English.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


<div class="modal fade" id="loginModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Log in to Travel Buddy</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <br />
            <div class="alert alert-success" id="loginSuccessMessage" style="display:none;">
                @TempData["Success"]  
            </div>
            <div class="alert alert-danger" id="loginErrorMessage" style="display:none;">
                @TempData["Error"] 
            </div>
           
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <div class="form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Login to our site</h3>
                                    <p>Enter username and password to log on:</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="bi bi-key-fill"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form method="post" action="/Home/Login">
                                    <div class="form-floating mb-2">
                                        <input type="email" class="form-control" name="email" placeholder="Email" required>
                                        <label>Email</label>
                                    </div>
                                    <div class="form-floating mb-2">
                                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                                        <label>Password</label>
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-primary mt-4">Sign in!</button>
                                </form>
                               
                                <span class="login-form-divider">or</span>
                                <div class="social-login-buttons">
                                    <a class="btn w-100 btn-lg btn-facebook" href="#">
                                        <i class="bi bi-facebook"></i> Continue with Facebook
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 d-flex justify-content-center align-items-center">
                        <div class="middle-border"></div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Sign up now</h3>
                                    <p>Fill in the form below to get instant access:</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="bi bi-pencil-fill"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                              
                                <form method="post" action="/Home/Register" class="registration-form">
                                    <div class="form-floating mb-2">
                                        <input type="text" class="form-control" name="firstName" placeholder="First name" required>
                                        <label>First Name</label>
                                    </div>
                                    <div class="form-floating mb-2">
                                        <input type="text" class="form-control" name="lastName" placeholder="Last name" required>
                                        <label>Last Name</label>
                                    </div>
                                    <div class="form-floating mb-2">
                                        <input type="email" class="form-control" name="email" placeholder="Email" required>
                                        <label>Email</label>
                                    </div>
                                    <div class="form-floating mb-2">
                                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                                        <label>Password</label>
                                    </div>
                                    <div class="form-floating mb-2">
                                        <input type="password" class="form-control" name="rePassword" placeholder="Re-enter Password" required>
                                        <label>Re-enter Password</label>
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-primary mt-4">Sign me up!</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>              
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var loginSuccess = '@TempData["Success"]';
        var loginError = '@TempData["Error"]';

        if (loginError) {
            $('#loginErrorMessage').show();
            $('#loginModal').modal('show');  // Keep modal open on error
        }

        if (loginSuccess) {
            $('#loginSuccessMessage').show();
            $('#loginModal').modal('show');  // Show success message in modal           
        }
    });
</script>

